.images

{
    justify-content: space-evenly;
}

.images .image img

{
    width: 22vw;
    height: 22vw;
    animation: pulse 2s ease infinite;
    border-radius: 7%;
    transition: all .2s ease-out;
    
}

.images .image img:hover

{
    cursor: pointer;
}

.images .image:nth-child(2) img {
    animation-delay: .15s;
}

.images .image:nth-child(3) img {
    animation-delay: .3s;
}

.images .image:nth-child(4) img {
    animation-delay: .45s;
}

@keyframes pulse {
    0%
    {
        scale: 1;
    }
    50%
    {
        scale: 1.02;
    }
    100%
    {
        scale: 1;
    }
}


