@import url(../../fontes.css);

.promocoes, .popular

{
    height: 23vw;
    border-radius: 3vw;
    color: white;
    font-family: fonteToyStory;
    overflow: hidden;
    position: relative;
    font-size: clamp(5px, calc(1.2vh + 1.2vw), 25px);
}


.promocoes

{
    background: url(../../../assets/coca.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.promocoes::before

{
    content: '';
    position: absolute;
    width: 120%;
    height: 120%;
    background: rgba(0, 0, 0, 0.4);
}

.promocoes p

{
    z-index: 1;
}


.popular

{
    background: url(../../../assets/pizza-caseira-destaque.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}


@media (width < 768px) {
    .promocoes, .popular

    {
        height: 40vw;
    }

    .w-50

    {
        width: 100% !important;
    }
}