@import url(../../fontes.css);

.popular

{
    width: 50vw;
    height: 40vw;
    border-radius: 3vw;
    color: white;
    font-family: fonteToyStory;
    overflow: hidden;
    position: relative;
    font-size: clamp(5px, calc(1.2vh + 1.2vw), 25px);
    background: url(../../../assets/combos.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}



@media (width < 768px) {
    .popular

    {
        height: 40vw;
    }

    .w-50

    {
        width: 100% !important;
    }
}