.cursor-pointer

{
    cursor: pointer;
}

.pizzasFav .pizzaFav img


{
    width: 24vw;
    height: 14vw;
    border-radius: 1.2vw;
}

.pizzasFav .pizzaFav div .price

{
    color: #969f6a;
}


@media (width < 998px) {
    .pizzasFav .pizzaFav img


    {
        width: 54vw;
        height: 34vw;
    }
}