.cursor-pointer

{
    cursor: pointer;
}

.pizzasFav .pizzaFav img


{
    width: 24vw;
    height: 14vw;
    border-radius: 1.2vw;
}

.pizzasFav .pizzaFav div .price

{
    color: #969f6a;
}

.input-check input

{
    border: 1px solid #1b29a6;
}


.form-payment select

{
    color: #1b29a6;
    border: 1px solid #1b29a6;
    outline: none;
}

.endOrder

{
    background: #eaee99;
    border: none;
    color: #1b29a6;
    border-radius: .4vw;
    padding: 1vw;
}

@media (width < 998px) {
    .pizzasFav .pizzaFav img


    {
        width: 54vw;
        height: 34vw;
    }
}