::-webkit-scrollbar

{
    width: 7px;
    height: 7px;
}

::-webkit-scrollbar-thumb

{
    background: #1b29a6;
    border-radius: 5px;
}

::-webkit-scrollbar-track

{
    background: linear-gradient(to bottom, #0094DA, #2FA7E3, #47B1E5, #6CBDE8, #97C7E4);
}

.card-pizza

{
    transition: .2s ease-out;
    
}

.card-pizza:hover

{
    scale: 1.07;
}



.card-pizza img

{
    width: 15vw;
    height: 15vw;
    border-radius: 1.5vw;
}

.card-pizza p, .card-pizza span

{
    font-size: clamp(4px, calc(1vh + 1vw), 17px);
    max-width: 200px;
}

.card-pizza span

{
    color: #1b29a6;
}

.card-pizza button

{
    background: #ebee93;
    color: #1b29a6;
    border: none;
    padding: .4vw;
    font-size: clamp(4px, calc(1vh + 1vw), 12px);
}

@media (width < 996px) {
    .img-title

    {
        width: 70vw;
        height: 30vw;
    }
}

@media (width < 768px) {
    .card-pizza img

    {
        width: 30vw;
        height: 30vw;
    }

    ::-webkit-scrollbar

    {
        width: .7vw;
        height: .7vw;
    }
}